In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
data = pd.read_csv("Hosein.csv")

In [6]:
data.head()
#data.info()
#data.columns
#data.describe()
#data["age"]
#data["job"].unique() # Only works on series
#data["job"].value_counts() # Only works on series
#data[data["job"] == "services"] #fliter
#data["education"][data["job"] == "services"] #two filter
#data["education"][data["job"] == "services"].unique()
#data["education"][pd.isnull(data["job"])]# filter with isnull
#data["education"][data["job"] == "unknown"] = "NA"
#data.loc[data["job"] == "unknown" , "education"] = "magemishe"
#data["education"].unique()
#data["age"].plot()
#data["job"].value_counts().plot()
#data["education"].value_counts().plot()
#data["education"].value_counts().plot(kind = "bar")
#data["education"].value_counts().plot(kind = "bar", figsize = (10, 10))
#plt.title("Education")
#plt.xlabel("A")
#plt.ylabel("B")
#plt.show()
#data["education"].value_counts().plot(kind = "pie", figsize = (10, 10))
#data.groupby(["job","education"]).size()
#data.groupby(["job","education"]).size().unstack()
#data.groupby(["job","education"]).size().unstack().plot()
#data.groupby(["job","education"]).size().unstack().plot(kind = "bar", stacked = True, figsize = (7, 7))
#plt.show()
#plt.savefig("2.png")
#data2 = pd.read_csv("../Hosein2.csv") # 1 point means current folder and 2 point means Previous folder
#data2 = pd.read_csv("../Hosein2.csv", header = 0) # Default
#data3 = pd.read_csv("../Hosein3.csv", header = 0, sep = ";")
#data3 = pd.read_csv("../Hosein3.csv", header = 0, sep = ";", names = ["A2", "B2", "C2"])
#data3 = pd.read_csv("../Hosein3.csv", header = 0, sep = ";", names = ["A2", "B2", "C2"], encoding = "utf-8")
# dic1 = {"id" : [1, 2, 3, 4], "age"    : [12, 13, 17, 22]}
# dic2 = {"id" : [1, 2, 3, 4], "weight" : [40, 55, 63, 74]}
# dic3 = {"id" : [1, 2, 3, 5], "gender" : ["m", "f", "m", "f"]}
# dic4 = {"id" : [1, 2, 3, 5], "gender" : ["m", "f", "f", "f"]}
# data11 = pd.DataFrame(dic1)
# data22 = pd.DataFrame(dic2)
# data33 = pd.DataFrame(dic3)
# data44 = pd.DataFrame(dic4)
# pd.merge(data11, data22, left_on = "id", right_on = "id")
# pd.merge(data11, data33, left_on = "id", right_on = "id") # inner join
# pd.merge(data11, data33, how = "left", left_on = "id", right_on = "id")
# pd.merge(data11, data33, how = "right", left_on = "id", right_on = "id")
# pd.merge(data11, data33, how = "outer", left_on = "id", right_on = "id")
# pd.merge(data33, data44, left_on = "id", right_on = "id")
# pd.merge(data33, data44, left_on = "id", right_on = "id", suffixes = ("_left", "_right"))
# df1 = pd.merge(data11, data33, how = "outer", left_on = "id", right_on = "id")
# df1.isnull()
# df1.isnull().sum()
# df1.isnull().sum().sum()
# data2 = pd.read_csv("Hosein.csv")
# data2.isnull().sum().sum()
# data2 = pd.read_csv("Hosein.csv", na_values = []) # list of non standard type data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

# Unexpected type

# Type1

In [25]:
# i = 0
# for age in df["age"]:
#     try:
#         int("age")
#     except:
#         df.loc[i, "age"] = np.nan
#         pass
#     i += 1

# Type2

In [26]:
# df.loc[(df["gender"] != "m") & (df["gender"] != "f"), "gender"] = np.nan

# Multi-line comment

short key ----> crtl / +

# Indices

In [27]:
# data1 = {"Name" : ["hosein", "sajad", "minoo"]  , "gender" : ["m", "m", "f"]}
# data2 = {"Name" : ["mohsen", "sanaz", "amirali"], "gender" : ["m", "f", "m"]}
# df1 = pd.DataFrame(data1)
# df2 = pd.DataFrame(data2)
# df1.index
# list(df1.index)
# df = df1.append(df2)
# df = df1.append(df2, ignore_index = True)
# df = pd.concat([df1, df2], ignore_index = True)
# df = df.set_index('Name')
# df
# df = df.reset_index()
# df

# DataFrame & series

In [45]:
# data1 = {"Name" : ["hosein", "sajad", "minoo", "hasan", "Ali"]  ,
#          "gender" : ["m", "m", "f","m","m"]}
# df1 = pd.DataFrame(data1)

In [46]:
# print(df1)
# print(type(df1['Name'])) # series is one dim 
# print(type(df1[['Name']]))

In [47]:
#series is one dim 
#df1['Name', 'gender'] # error
#df1[['Name', 'gender']]

In [48]:
# sub_df1 = df1.loc[0:2, ['Name', 'gender']]
# print(sub_df1)

In [4]:
x = [1, 2, 3, 's']
x_series = pd.Series(x)
print(x_series)
x_series = pd.Series(x, index=['a', 'b', 'c', 'd'])
print(x_series)

0    1
1    2
2    3
3    s
dtype: object
a    1
b    2
c    3
d    s
dtype: object